body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

h1 {
  color: #343a40;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card1 {
  width: 50%;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}